*{
    margin: 0;
    padding: 0;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar{
    box-shadow: 0 3px 3px -1px rgba(0,0,0,.2);

}

.teal{
    background-color: rgb(75, 120, 243)!important;
}

  @media only screen and (max-width: 1200px) {
    .about-img{
        width: 50rem;
        text-align: center;
    }
  }

  @media only screen and (max-width: 991px) {
    .about-img{
        width: 40rem;
        text-align: center;
    }
  }

  @media only screen and (max-width: 767px) {
    .about-img{
        width: 30rem;
        text-align: center;
    }
    .about-title{
        text-align: center;
    }
  }

  @media only screen and (max-width: 500px) {
    .about-img{
        width: 25rem;
        text-align: center;
    }
  }

  @media only screen and (max-width: 414px) {
    .about-img{
        width: 19rem;
        text-align: center;
    }
  }

  @media only screen and (max-width: 321px) {
    .about-img{
        width: 18rem;
        text-align: center;
    }
  }